@mixin font-styles($size, $weight, $line-height: normal, $letter-spacing: normal, $transform: none)
  font-family: 'Montserrat', sans-serif
  font-size: $size
  font-weight: $weight
  line-height: $line-height
  letter-spacing: $letter-spacing
  text-transform: $transform
