$color-light-blue: #25cbf1
$color-turquoise: #19b5dd
$color-blue: #524fd5
$color-dark-blue: #3532ce
$color-very-dark-blue: #0a0061
$color-light-black: #1c2431
$color-black: #141c27
$color-dark-gray: #515a6d
$color-gray: #97a5c1
$color-light-grey: #bec7d8
$color-very-light-grey: #eff0f6
$color-white: #ffffff
$color-orange: #fdc000
$color-dark-orange: #f6a308
$color-red: #d64e18
