$light-blue: #25cbf1
$turquoise: #19b5dd
$blue: #524fd5
$dark-blue: #3532ce
$very-dark-blue: #0a0061
$light-black: #1c2431
$black: #141c27
$dark-gray: #515a6d
$gray: #97a5c1
$light-grey: #bec7d8
$very-light-grey: #eff0f6
$white: #ffffff
$orange: #fdc000
$dark-orange: #f6a308
$red: #d64e18
